$card-indent = $indent / 2
$card-width = 290px

.gl.card
.gl.cards > .card
  align-items center
  background #fff
  display flex
  flex-direction column
  justify-content center
  margin $card-indent
  padding $card-indent
  width $card-width

  > header
    align-items center
    display flex
    width 100%

    > .actions
      align-items center
      display flex
      justify-content center
      margin-left auto

      > .action
        display flex

  > .content
    align-items center
    display flex
    flex 1
    flex-direction column
    justify-content center
    margin-bottom $indent
    margin-top @margin-bottom
    text-align center

    > * + *
      margin-top $card-indent

    > .title
      font-weight 700

.gl.cards
  column-gap $card-indent
  column-count auto
  column-width $card-width

  > .card
    margin-bottom ($card-indent * 2)
    margin-left 0
    margin-right 0
    margin-top 0

  &.centered

    > .card
      margin-left auto
      margin-right auto

  &.three
    max-width 'calc(%s + %s)' % (($card-width * 3) ($card-indent * 6))
