$card-indent = $indent / 2

.gl.card
.gl.cards > .card
  align-items center
  background #fff
  display flex
  flex-direction column
  justify-content center
  margin $card-indent
  padding $card-indent

  > header
    align-items center
    display flex
    width 100%

    > .actions
      align-items center
      display flex
      justify-content center
      margin-left auto

      > .action
        display flex

  > .content
    align-items center
    display flex
    flex-direction column
    justify-content center
    margin-bottom $indent
    margin-top @margin-bottom
    text-align center

    > * + *
      margin-top $card-indent

    > .title
      font-weight 700

.gl.cards
  display flex
  flex-wrap wrap

  > .card
    flex-grow 1
    flex-shrink 0

  &.three

    > .card
      flex-basis 'calc(100% / 3 - (%s * 2))' % $card-indent

    @media(max-width: $media-small)

      > .card
        flex-basis 100%
