.gl.chunk

  &.flexy
    display flex

    > a
      align-items center
      display flex

    &[class*='middle aligned']
      align-items center

    &:not(.vertical)
      flex-direction row

      &:not(.wrap)

        > *

          + *
            margin-left ($indent / 2)

      &.wrap
        flex-wrap wrap

        > *
          margin ($indent / 2)

      &.spaced
        justify-content space-between

        &.around
          justify-content space-around

  &.indented

    indents($indent-size)
      &:not([class*='vertically indented'])
        margin-left $indent-size
        margin-right $indent-size

      &:not([class*='horizontally indented'])
        margin-bottom $indent-size
        margin-top $indent-size

    indents($indent)

    &.very
      indents($indent * 2)

  &.tiny
    font-size .7em

  &.small
    font-size .85em

  &.large
    font-size 1.2em

  &.big
    font-size 2em

  &.bold
    font-weight 700

  &[class*='left aligned']
    text-align left

  &[class*='center aligned']
    text-align center

    &.flexy

      &:not(.vertical)
        justify-content center

  &.transparent
    opacity 0

    &.semi
      opacity .5

    &.active
      opacity 1

  &.black
    color $color-text

  &.white
    color #fff

  &.primary
    color $color-primary

  &.orange
    color $color-orange

  &.green
    color $color-green

  &.clickable
    cursor pointer

  &.relative
    position relative

  &.divided
    border-bottom 1px solid hsla(#000, .1)
    margin-bottom ($indent / 4)
    padding-bottom @margin-bottom
