.gl.chunk

  &.flexy
    display flex

    > a
      align-items center
      display flex

    &[class*='middle aligned']
      align-items center

    &[class*='bottom aligned']
      align-items flex-end

    &:not(.vertical)
      flex-direction row

      &:not(.wrap):not(.fitted)

        > *

          + *
            margin-left ($indent / 2)

      &.wrap:not(.fitted)
        flex-wrap wrap

      &:not(.fitted)

        > *:not(.indented)
          margin ($indent / 2)

      &.spaced
        justify-content space-between

        &.around
          justify-content space-around

    > input
      flex-shrink 0

  &.inline:not(.block):not(.flexy)
    display inline

  &.block:not(.inline)
    display block

  &[class*='inline block']
    display inline-block

  &[class*='inline flexy']
    display inline-flex

  &.indented

    indents($indent-size)
      &:not([class*='vertically indented'])
        margin-left $indent-size
        margin-right $indent-size

      &:not([class*='horizontally indented'])
        margin-bottom $indent-size
        margin-top $indent-size

    indents($indent)

    &.very
      indents($indent * 2)

    &.slightly
      indents($indent / 2)

  &.tiny
    font-size .7em

  &.small
    font-size .85em

  &.large
    font-size 1.2em

  &.larger
    font-size 1.5em

  &.big
    font-size 2em

  &.uppercase
    text-transform uppercase

  &.semibold
    font-weight 600

  &.bold
    font-weight bold

  &.italic
    font-style italic

  &[class*='left aligned']
    text-align left

  &[class*='right aligned']

    &:not(.flexy)
      text-align right

    &.flexy
      justify-content flex-end

  &[class*='center aligned']
    text-align center

    &.flexy

      &:not(.vertical)
        justify-content center

  &.transparent
    opacity 0

    &.semi
      opacity .5

    &.active
      opacity 1

  &.black
    color $color-text

  &.white
    color #fff

  &.grey
    color $color-grey-darker

  &.primary
    color $color-primary

  &.green
    color $color-green

  &.orange
    color $color-orange

  &.red
    color $color-red

  &.clickable
    cursor pointer

  &.relative
    position relative

  &.divided
    border-bottom 1px solid hsla(#000, .1)
    margin-bottom ($indent / 4)
    padding-bottom @margin-bottom

  &.fluid
    width 100%

  &.shadowed
    text-shadow $text-shadow

  &.transition
    transition all $transition-duration
