$padding = ($indent / 2)

.gl.row
  display flex

  > .column
    display flex
    flex-direction column
    padding $padding
    position relative
    overflow hidden

    &[class*='middle aligned']
      justify-content center

    &[class*='center aligned']
      align-items center

    &[class*='left aligned']
      align-items flex-start

    &[class*='right aligned']
      align-items flex-end

    &.fixed
      min-height 400px

    &.fitted
      padding 0

    &.padded
      $padding = ($padding * 2)

      &:not(.horizontally)
        padding-bottom $padding
        padding-top @padding-bottom

      &:not(.vertically)
        padding-left $padding
        padding-right @padding-left

    &[class*='very padded']
      $padding = ($padding * 4)

      &:not(.horizontally)
        padding-bottom $padding
        padding-top @padding-bottom

      &:not(.vertically)
        padding-left $padding
        padding-right @padding-left

    &.spaced

      &.around
        justify-content space-around

      &.between
        justify-content space-between

    &.fluid
      flex-grow 1

    &.blue
      background $color-blue
      color #fff

      &[class*='light blue']
        background $color-blue-lighter

      &[class*='dark blue']
        background $color-blue-darker

  &[class*='middle aligned']
    align-items center

  &[class*='center aligned']
    justify-content center

  &[class*='right aligned']
    justify-content right

  fullWidthDefinitions($width)

    @media not all and (max-width: $width)

      &[class*='two column']

        > .column:not(.wide)
          flex-basis 50%

      &[class*='three column']

        > .column:not(.wide)
          flex-basis calc(100% / 3)

      &[class*='four column']

        > .column:not(.wide)
          flex-basis 25%

      > .column

        &[class*='two wide']
          flex-basis 'calc(100% / 6 - %s)' % ($padding * 2)
          width @flex-basis

        &[class*='four wide']
          flex-basis 'calc(100% / 3 - %s)' % ($padding * 2)
          width @flex-basis

        &[class*='five wide']
          flex-basis 'calc(100% * 5 / 12 - %s)' % ($padding * 2)
          width @flex-basis

        &[class*='six wide']
          flex-basis 'calc(50%)' % ($padding * 2)
          width @flex-basis

        &[class*='seven wide']
          flex-basis 'calc(100% * 7 / 12 - %s)' % ($padding * 2)
          width @flex-basis

        &[class*='eight wide']
          flex-basis 'calc(100% / 1.5 - %s)' % ($padding * 2)
          width @flex-basis

        &[class*='ten wide']
          flex-basis 'calc(100% * 10 / 12 - %s)' % ($padding * 2)
          width @flex-basis

    @media (max-width: $width)
      flex-wrap wrap

      &.centered

        > .column
          align-items center

      > .column
        flex-basis auto
        width 100%

      &.double

        > .column
          flex-basis 50%
          width 50%

      &.reversed
        flex-direction column-reverse

  $sizes = 'tiny' $media-tiny,
           'small' $media-small,
           'large' $media-large,
           'big' $media-big

  &:not(.sized)
    fullWidthDefinitions($media-medium)

  for $size in $sizes

    &[class*=\'{$size[0] + ' sized'}\']
      fullWidthDefinitions($size[1])

  &.padded

    > .column:not(.padded):not([class*='very padded'])
      padding ($padding * 2)

  &[class*='very padded']

    > .column:not(.padded):not([class*='very padded'])
      padding ($padding * 4)

  &.fitted

    > .column

      &.padded

        &:not(.vertically)
          padding-bottom 0
          padding-top 0

        &:not(.horizontally)
          padding-left 0
          padding-right 0

  &.fixed
    flex-wrap nowrap

  &.loose
    flex-wrap wrap

  &.growing
    flex-grow 1
