.gl.label
  align-items center
  background $color-grey-lightest
  border-radius 3px
  color $color-text
  display inline-flex
  font-size .8em
  font-weight 700
  justify-content center
  padding ($indent / 2) ($indent * .75)

  &:not(:only-child)
    margin-bottom ($indent / 2)

    &:not(:last-child)
      margin-right ($indent / 2)

  &.small
    font-size .7em

  &.tiny
    font-size .6em

  &.tag
    border-radius 0 .25rem .25rem 0
    cursor pointer
    margin-left 1em
    padding-left 1.5em
    padding-right @padding-left
    position relative
    transition none

    &::before
    &::after
      content ''
      position absolute
      top 50%

    &::before
      background-color inherit
      background-image none
      height 1.75em
      right 100%
      transform translateY(-50%) translateX(50%) rotate(-45deg)
      transition none
      width @height

    &::after
      background-color #fff
      border-radius 50%
      box-shadow 0 -.5px 0px 0 hsla(#000, .3)
      height .5em
      left -.25em
      margin-top -.25em
      width .5em

    &:hover
      background-color $color-grey-lighter
      border-color @background-color
      background-image none
      color hsla(#000, .8)

      &::before
        color hsla(#000, .8)
