.gl.media

  for $size in $media-sizes

    @media(max-width: $size[1])

      &[class*=\'{$size[0] + ' invisible'}\']
        display none

    @media(min-width: $size[1] + 1px)

      &[class*=\'{$size[0] + ' visible'}\']
        display none
