.gl.message
  align-items center
  display flex
  justify-content center

  > .gl.icon
    margin-right 1em
    height 2.5em
    width @height

  &.error
    background $color-red
    color #fff
    padding .4em 1.2em
