.gl.segment
  background #fff
  padding $indent

  &.filter

    > .section

      > .title
        margin-bottom ($indent / 2)

      > .content

        > .list

          > .item
            display block

      + .section
        margin-top ($indent / 2)
