$color-blue = #177fac

$color-blue-lighter = lighten($color-blue, 20%)
$color-blue-darker = darken($color-blue, 20%)
$color-blue-darkest = darken($color-blue, 40%)
$color-dark = #1b1c1d
$color-grey = #bdc3c7
$color-grey-lighter = lighten($color-grey, 35%)
$color-grey-lightest = lighten($color-grey, 70%)
$color-grey-darker = darken($color-grey, 20%)
$color-grey-darkest = darken($color-grey, 60%)
$color-pale = #f6f6f6
$color-pale-lighter = lighten($color-pale, 50%)
$color-green = #27ae60
$color-green-lighter = #2ecc71
$color-green-darker = darken($color-green, 20%)
$color-orange = #e67e22
$color-orange-lighter = #f39c12
$color-orange-darker = #d35400
$color-red = #e74c3c
$color-red-lighter = lighten($color-red, 20%)
$color-red-lightest = lighten($color-red, 50%)
$color-red-darker = #c0392b

$color-primary = $color-blue
$color-primary-lighter = $color-blue-lighter
$color-primary-darker = $color-blue-darker
$color-text = $color-grey-darkest
$color-border = $color-grey-lightest
$color-link = $color-blue
$color-link-darker = $color-blue-darker
$color-link-inverted = lighten($color-link, 50%)
$color-box-shadow = hsla($color-grey-darkest, .35)

// activity
$color-activity-low = $color-red
$color-activity-middle-low = $color-orange
$color-activity-middle-high = #62b737
$color-activity-high = $color-green
$color-activity-very-high = $color-green-darker

// social
$color-linkedin = #1f88be
$color-twitter = #0084b4
$color-facebook = #3b5998
$color-youtube = #cd201f
$color-google = #dd4b39

$colors-diary = #696d7d #6f9283 #8d9f87 #3bafda #4a89dc #967adc #b5a742 #795548
