$font-family = 'Nunito Sans', sans-serif
$transition-duration = .2s

$indent = 1em

$text-shadow = 1px 1px 1px hsla(#000, .25)
$field-box-shadow = -1px -1px $color-border, 1px 1px $color-border

$media-tiny = 320px
$media-small = 480px
$media-medium = 768px
$media-large = 992px
$media-big = 1200px
