$font-family = 'Nunito Sans', sans-serif
$transition-duration = .2s

$indent = 1em

$text-shadow = 1px 1px 1px hsla(#000, .25)
$field-box-shadow = -1px -1px $color-border, 1px 1px $color-border

$font-regular = 400
$font-semibold = 600
$font-bold = 700

$media-tiny = 320px
$media-small = 480px
$media-medium = 768px
$media-large = 992px
$media-big = 1200px

$media-sizes = 'tiny' $media-tiny,
               'small' $media-small,
               'medium' $media-medium,
               'large' $media-large,
               'big' $media-big
