custom-scroll()
  overflow-y auto

  &::-webkit-scrollbar
    width 2px
    background-color $color-pale

    &-thumb
      background-color $color-blue-darker
      border 2px solid $color-blue

placeholder()
  &::-webkit-input-placeholder
    {block}

  &:-moz-placeholder
    {block}

  &::-moz-placeholder
    {block}

  &:-ms-input-placeholder
    {block}
