custom-scroll()
  overflow-y auto

  &::-webkit-scrollbar
    width 2px
    background-color $color-pale

    &-thumb
      background-color $color-blue-darker
      border 2px solid $color-blue

placeholder()
  &::-webkit-input-placeholder
    {block}

  &:-moz-placeholder
    {block}

  &::-moz-placeholder
    {block}

  &:-ms-input-placeholder
    {block}

range-input()
  appearance none
  -webkit-tap-highlight-color rgba(255, 255, 255, 0)
  outline none
  {block}

  &::-ms-fill-lower
  &::-ms-fill-upper
    background transparent

  &::-ms-tooltip
    display none

range-input-track()

  &::-moz-range-track
    {block}

  &::-ms-track
    {block}

  &::-webkit-slider-runnable-track
    {block}

range-input-thumb()

  &::-webkit-slider-thumb
    -webkit-appearance none
    {block}

  &::-moz-range-thumb
    -moz-appearance none
    {block}

  &::-ms-thumb
    -ms-appearance none
    {block}
